$colores:(
    color: #fff;
    background-color: #6495ED;
  background: #00bcd4;
footer-container-color: #90d4c5;
)



$medidas:(
media-pequeñas: 420px;
media-medianas:992px;
media-grande:1400px;

)
$displays: (
  headerJustify: space-evenly,
  footerJustify: center
);